<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      src="https://unpkg.com/htmx.org@2.0.1"
      integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
      crossorigin="anonymous"
    ></script>
  </head>
  <nav>
    <a hx-boost="true" hx-target="#content" href="/page_a">Go to page A</a>
    <a hx-boost="true" hx-target="#content" href="/page_b">Go to page B</a>
  </nav>
  <body>
    <div id="content" hx-swap="innerHTML"></div>
  </body>
</html>
